.contact-info__owner{
	width: 80px;
	height: 80px;
	border-radius: 40px;
}
.contact-info__main{
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.contact-info__block{
display: flex;
flex-direction: column;
gap: 12px;
}


.contact-info__sub-block{
	display: flex;
	gap: 16px;
}
.contact-info__sub-details{
	display: flex;
	gap: 16px;
	align-items: center;
}
.contact-info__sub-details:not(:last-child)::after{
	content: "";
	display: block;
	height: 4px;
	width: 4px;
	border-radius: 4px;
	background-color: #000;
}